body{
    background:url("wp2062757.jpg");
}

*{
  margin: 0;

}

#header{
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position:sticky;
  background-color: black;
   
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100%;
}

h1{
  font-family: sans-serif;
  text-align: center;
  font-size: 30px;
  color: #222;
}

.header_right{
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 10px;
  border-radius: 999px;

}

.header_middle{
display: flex;
justify-content: center;
height: 58px;
width: 1324px;
} 

.header_option {
/* display: flex;
align-items: center;
cursor: pointer;
margin-right: 10px; */
border:1px solid black;
display:inline;
padding: 1px 30px;
display:flex;

}

.header_option .material-symbols-outlined{
font-size: xx-large;
color: gray;
width: 32px;
padding-right: 83px;
}

.material-symbols-outlined{
color: gray;
font-size: xx-large;
}

.input{
border: none;
background-color: transparent;
outline: 0;
}


.material-symbols-outlined:hover{
color: blue;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');
@import url('https://fonts.googleapis.com/css?family=Cherry+Swash');

* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    margin: 0;
    font-family: 'Montserrat', helvetica, arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-image: url(../img/background_1.jpg);
    /* background-image: url(../img/background_gif_1.gif); */
    background-position: center;
    background-size: cover;

}

/* card ///////////////////////////////////////////////////*/
.horos_card {
    position: relative;
    display: block;
    width: 800px;
    height: 450px;
    margin: 80px auto; 
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
    /* box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5); */
    /* box-shadow: 0px 0px 1020px rgba(255,255,255, 1); */
}

.horos_card:hover {
    transform: scale(1.02);
    transition: all 0.4s;
    box-shadow: 0px 0px 1020px rgba(255,255,255, 1);
}

.info_section {
    position: relative;
    width: 100%;
    height: 100%;
	background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
}

.horos_header {
    position: relative;
    padding: 25px;
    height: 40%;
}

h1 {
    color: #555;
    font-weight: 400;
    font-family: 'Cherry Swash', cursive;
    z-index: 999;
}

h4 {
    color: #555;
    font-weight: 400;
}

.box {
    display: inline-block;
    color: #555;
    margin: 5px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #063053;
}

/* sunsign top left */
.locandina {
    position: relative;
    float: left;
    margin-right: 20px;
    height: 130px;
    /* box-shadow: 0 0 5px 5px rgba(17,120,209,0.5); */
    border-radius: 50%;
}
    
.horos_desc {
    padding-left: 25px;
    height: 50%;
}

.text{
    color: #545454;
}

/* background image card */
.blur_back {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%; 
    right: -100px;
    background-size: cover;
    border-radius: 11px;
}

.card_background {
    width: 100%;
    height: 100%;
}

/* buttons on card /////////////////////////////////////*/
.button {
  width: 100px;
  color: #fff;
  border-radius: 12px;
  margin-left: 25px;
  background: #063053;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  border: none;
  cursor: pointer;
}

.button:hover {
color: #063053;
background: #fff;
box-shadow: 0px 0px 5px #063053;
}

.backButton {
  margin-right: 25px;
  float: right;
  border-radius: 12px;
  width: 100px;
  color: #fff;
  background: #063053;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  border: none;
  box-shadow: 0px 0px 5px #fff;
  cursor: pointer;
}

.backButton:hover {
  color: #063053;
  background: #fff;
  box-shadow: 0px 0px 5px #063053;
}


@media screen and (min-width: 768px) {
  .horos_header{
    width: 65%;
  }
  
  .horos_desc{
    width: 50%;
  }
  
  .info_section{
    background: linear-gradient(to right, #e5e6e6 50%, transparent 100%);
  }
  
  .blur_back{
    width: 80%;
    background-position: -100% 10% !important; 
    right: 0px; 
  }
}

@media screen and (max-width: 767px) {
  html, body {
    /* background: #103A77; */
  }

  .horos_card{
    width: 95%;
    margin: 70px auto; 
    min-height: 350px;
    height: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
  }
  
  .blur_back{
    width: 100%;
    background-position: 50% 50% !important;  
    right: 0px; 
  }
  
  .horos_header{
    width: 100%;
    margin-top: 85px;
  }
  
  .horos_desc{
    width: 100%;
  }
  
  .info_section{
    background: linear-gradient(to top, #e5e6e6 40%, transparent 100%);
    display: inline-grid;
  }

  .button {
    margin-bottom: 10px;
    margin-left: 35%;
    width: 120px;
  }

  .backButton {
    float: left;
    margin-left: 35%;
    margin-bottom: 10px;
    width: 120px;
  }

  h1 {
    color: #fff;
    text-shadow: 0px 0px 5px #000;
    font-weight: 400;
    font-family: 'Cherry Swash', cursive;
    z-index: 999;
}

  h4 {
    color: #fff;
    text-shadow: 0px 0px 5px #000;
    font-weight: 400;
}

  .box {
    color: #000;
    /* text-shadow: 0px 0px 5px #000; */
}

}